{% extends "base.html" %}
{% from "_helpers.html" import render_field %}
{% from "_helpers.html" import validate_picture %}

{% block title%}
    User Search{{super()}}
{% endblock %}

{% block container %}
    <h1>フォロー申請</h1>

    <!-- flashを実行する -->
    {% for message in get_flashed_messages() %}
    <p>※{{message}}</p>
    {% endfor %}

    <form class="mb-3" method="POST">
        <div class="input-group">
            {{ render_field(form.username, class="form-control", placeholder="ユーザ名を入力") }}
            <div class="input-group-append">
                {{ form.submit(class="btn btn-primary", value="検索") }}
            </div>
        </div>
    </form>

    {% if users %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ユーザ名</th>
                <th scope="col">ユーザ画像</th>
                <!-- <th scope="col">コメント</th> -->
                <th scope="col">フォロー申請</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ user.username }}</td>
                <td>{{ validate_picture(user, 'image-small') }}</td>
                <!-- <td>{{ user.comment }}</td> -->
                <td>
                    {% if user.joined_status_from_currentuser == 2 or user.joined_status_from_user == 2 %}
                    <p>フォロー中</p>
                    {% elif user.joined_status_from_currentuser == 1 %}
                    <p>フォロー申請中</p>
                    {% elif user.joined_status_from_user == 1 %}
                    <form method="POST" action="{{ url_for('user_connect') }}">
                        {{ connect_form.to_user_id(value=user.id) }}
                        {{ connect_form.connect_status(value='approve') }}
                        {{ connect_form.submit(class='btn btn-info', value='フォロー承認する') }}
                    </form>
                    {% else %}
                    <form method="POST" action="{{ url_for('user_connect') }}">
                        {{ connect_form.to_user_id(value=user.id) }}
                        {{ connect_form.connect_status(value='apply') }}
                        {{ connect_form.submit(class='btn btn-info', value='フォロー申請する') }}
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
